.container {
  border: 1px solid black;
  width: 1000px;
  height: 900px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(230, 227, 227);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container img {
  width: 100%;
}
.container h1,
.container p {
  margin-left: 24px;
}
.container h1 {
  font-size: 88px;
}
@media (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
  .container h1 {
    font-size: 18px;
    word-wrap: break-word;
  }
  .container p {
    font-size: 8px;
  }
}
.box {
  border: 1px solid black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text1 {
  border: 2px solid blue;
  width: 100%;
  max-width: 600px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 240, 240);
  padding: 32px;
}
.num1 > p {
  background-color: green;
  display: inline-block;
  border-radius: 8px;
  font-size: 80px;
  padding: 8px;
}
.num2 > p {
  background-color: green;
  display: inline-block;
  border-radius: 8px;
  font-size: 64px;
  padding: 8px;
}
.text1 > p {
  font-size: 24px;
}
.text1 > h2 {
  font-size: 48px;
}
.num1 {
  margin-top: 24px;
}
.num2 {
  margin-top: 24px;
}
.text1 h2 {
  margin-bottom: 24px;
}
.num1 p {
  margin-bottom: 8px;
  font-weight: bold;
}
.num2 p {
  margin-bottom: 8px;
  font-weight: bold;
}
@media (max-width: 600px) {
  .box {
    width: 100%;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
  }
  .text1 h2 {
    font-size: 24px;
  }
  .text1 > p {
    font-size: 12px;
  }
  .num1 > p {
    font-size: 24px;
  }
  .num2 > p {
    font-size: 24px;
  }
}
.card {
  min-height: 100vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic2 {
  max-width: 500px;
}
.textcard {
  display: flex;
  flex-direction: column;
  margin-left: 56px;
  gap: 72px;
}
.pic2 img {
  width: 100%;
  box-shadow: 20px 20px rgb(16, 137, 224);
  border-radius: 20px;
}
.textcard > h1 {
  font-size: 64px;
}
.textcard > p {
  font-size: 24px;
}
.textcard button {
  font-size: 16px;
  background-color: rgb(80, 176, 221);
  border-radius: 8px;
  box-shadow: 8px 8px black;
  border: 2px solid black;
  width: fit-content;
  padding: 16px;
  font-weight: bold;
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 600px) {
  .card {
    width: 100%;
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
  .textcard h1 {
    font-size: 16px;
  }
  .textcard > p {
    font-size: 8px;
  }
}
.data {
  border: 1px solid black;
  min-height: 100vh;
  padding: 3rem;
}
.head {
  margin-bottom: 2rem;
}
.head h1 {
  margin-top: 2rem;
}
.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.breadth h2 + p {
  padding-top: 1rem;
}
.depth h2 + p {
  padding-top: 1rem;
}
.durability h2 + span {
  display: block;
  padding-top: 1rem;
}
.state13 > span {
  font-size: 4rem;
}
.state40 > span {
  font-size: 4rem;
}
.state82 {
  font-size: 4rem;
}
.state15 > span {
  font-size: 3rem;
}
.state76 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}
